@font-face {
  font-family: 'Funnel Sans';
  src: url(https://fonts.gstatic.com/s/funnelsans/v1/OpNIno8Dg9bX6Bsp3Wq69Tpyfhg.woff2)
    format('woff2');
}

@import 'tailwindcss';

@keyframes shimmer {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -200% 0;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
    display: none;
  }
}

@theme {
  --font-funnel-sans: 'Funnel Sans', serif;
  --animate-shimmer: shimmer 4s linear infinite;
  --animate-slide-out-left: slideOutLeft 0.6s forwards;
  --animate-slide-in-right: slideInRight 0.6s forwards;
  --color-falu-red-50: #fbe0e2;
  --color-falu-red-100: #f6c0c4;
  --color-falu-red-200: #ed7d85;
  --color-falu-red-300: #e43f4a;
  --color-falu-red-400: #c01b26;
  --color-falu-red-500: #7f1219;
  --color-falu-red-600: #670f14;
  --color-falu-red-700: #4c0b0f;
  --color-falu-red-800: #31070a;
  --color-falu-red-900: #1b0405;
  --color-falu-red-950: #0d0203;

  --color-vulcan-50: #eae8ed;
  --color-vulcan-100: #d2ced9;
  --color-vulcan-200: #a8a0b6;
  --color-vulcan-300: #7b6f90;
  --color-vulcan-400: #51495f;
  --color-vulcan-500: #28242f;
  --color-vulcan-600: #201d26;
  --color-vulcan-700: #19161d;
  --color-vulcan-800: #110f14;
  --color-vulcan-900: #070709;
  --color-vulcan-950: #050406;
}

::-webkit-scrollbar {
  width: calc(var(--spacing) * 1.5);
  height: calc(var(--spacing) * 1.5);
}

::-webkit-scrollbar-thumb {
  background: var(--color-vulcan-200);
  border-radius: var(--radius-lg);
}

.bg-shimmer-falu-red {
  background: linear-gradient(
    120deg,
    var(--color-falu-red-800),
    50%,
    var(--color-falu-red-400),
    55%,
    var(--color-falu-red-800)
  );
  background-size: 200% 100%;
}

.bg-shimmer-vulcan {
  background: linear-gradient(
    120deg,
    var(--color-vulcan-800),
    50%,
    var(--color-vulcan-400),
    55%,
    var(--color-vulcan-800)
  );
  background-size: 200% 100%;
}
