@font-face {
  font-family: 'Funnel Sans';
  src: url(https://fonts.gstatic.com/s/funnelsans/v1/OpNIno8Dg9bX6Bsp3Wq69Tpyfhg.woff2)
    format('woff2');
}

@import 'tailwindcss';

@keyframes shimmer {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -200% 0;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
    display: none;
  }
}

@theme {
  --font-funnel-sans: 'Funnel Sans', serif;
  --animate-shimmer: shimmer 4s linear infinite;
  --animate-slide-out-left: slideOutLeft 0.6s forwards;
  --animate-slide-in-right: slideInRight 0.6s forwards;
  --color-lust-50: #fedddf;
  --color-lust-100: #fcbabf;
  --color-lust-200: #f9767f;
  --color-lust-300: #f62d3a;
  --color-lust-400: #d20916;
  --color-lust-500: #8e060e;
  --color-lust-600: #71050c;
  --color-lust-700: #530409;
  --color-lust-800: #3b0206;
  --color-lust-900: #1d0103;
  --color-lust-950: #0f0102;

  --color-vulcan-50: #eae8ed;
  --color-vulcan-100: #d2ced9;
  --color-vulcan-200: #a8a0b6;
  --color-vulcan-300: #7b6f90;
  --color-vulcan-400: #51495f;
  --color-vulcan-500: #28242f;
  --color-vulcan-600: #201d26;
  --color-vulcan-700: #19161d;
  --color-vulcan-800: #110f14;
  --color-vulcan-900: #070709;
  --color-vulcan-950: #050406;
}

::-webkit-scrollbar {
  width: calc(var(--spacing) * 1.5);
  height: calc(var(--spacing) * 1.5);
}

::-webkit-scrollbar-thumb {
  background: var(--color-vulcan-200);
  border-radius: var(--radius-lg);
}

.bg-shimmer-lust {
  background: linear-gradient(
    120deg,
    var(--color-lust-900),
    50%,
    var(--color-lust-400),
    55%,
    var(--color-lust-900)
  );
  background-size: 200% 100%;
}

.bg-shimmer-vulcan {
  background: linear-gradient(
    120deg,
    var(--color-vulcan-900),
    50%,
    var(--color-vulcan-400),
    55%,
    var(--color-vulcan-900)
  );
  background-size: 200% 100%;
}
